* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-content: center;
}

main {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

div {
    display: flex;
}

.full-width {
    width: 100%;
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #fff;
}